<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= locals.title %></title>
<link href="./stylesheets/styles.css" rel="stylesheet">
<script src="./javascript/navbar.js" defer></script>